body {
    margin-top: 0%;
}
.content {
    color: thistle;
    position: center;
    padding-left: 600px;
}
.t {
    position: center;
    padding-left: 600px;
}
.t1 {
    position: center;
    padding-left: 600px;
}
.t2 {
    position: center;
    padding-left: 600px;
}
.t3 {
    position: center;
    padding-left: 600px;
}
