style.css
body{
    margin: 0px;
}
.menu
{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
.menu a
{
    text-decoration: none;
    color: white;
}
.imageb {
    background-image: url(online.jpg);
    height: 830px;
    width: 100%;
    background size: cover;
    position:absolute;
}
.content {
    position: relative;
}
h4 {
    color: white;
}
.a {
    color: thistle;
}